@import url("./font-chillax/css/chillax.css");

:root {
    --black-color: #0e0e0e;
    --nice-blue:  rgb(37, 145, 164);
    --darker-blue: rgb(0, 127, 127);
    --dark-grey: #1f1f1f;
    --cervena: #AF0000;
    font-family: "Chillax-Medium";
}
body{
    background-color: var(--dark-grey);
}
.navbar {
    background-color: var(--black-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;

}
.nav__menu>div {
    content: "";
    width: 45px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    margin: 0.5em;
}
.mapa{
    width: 100%;
}
form{
    margin: 1.5em;
}
form > input{
    color: var(--cervena);
    background-color: #1f1f1f;
    border-radius: 0.7em;
    padding: 1em;
    width: 14em;
    margin-bottom: 1.5em;
    border-color: #AF0000;
    font-size: large;
}
.tlacitko{
    background-color:var(--cervena);
    padding: 1em;
    color: white;
    font-size: larger;
    width: 7em;
    text-align: center;
    border-radius: 0.7em;
    text-decoration: none;
}
.btn-div{
    margin: 1em;
    display: flex;
    justify-content: right;
}
.checkbox{
  color: var(--cervena);  
}